:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 48px;
  --color-dark: #000;
  --color-light: #fff;
  --animation-btn: 0;
}

html,
body {
  height: 100%;
}

.btn {
  min-height: unset;
}

a:hover {
  text-decoration: none;
}

.main {
  position: absolute; /* I am sorry for whoever has to read this, I know it's retarded, please don't be mean to me :( */
  top: 0;
  left: 0;
  padding-top: 64px;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  overflow-y: scroll;
}

img {
  border-radius: 4px;
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(16px);
}

.k2t-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.k2t-logo {
  width: 128px;
  height: 32px;
}

.cart-button {
  display: flex;
  position: relative;
  align-items: end;
  margin-left: auto;

  width: 32px;
  height: 32px;
}

.cart-button svg {
  width: 1.75em;
  height: 1.75em;
}

.cart-count {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10pt;

  justify-content: center;
  align-items: center;

  height: 16px;
  width: 16px;

  background-color: rgb(225, 225, 225);
  border-radius: 16px;
}

.tabs {
  overflow-x: hidden;
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/

.index-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 8px;
  margin-bottom: 8px;

  @media (max-width: 45em) {
    padding: 8px;
  }
}

.collection-tile-wrapper {
  display: flex;

  width: 50%;

  @media (min-width: 45em) {
    width: 256px;
  }
}

.collection-tile {
  display: flex;
  position: relative;
  padding: 4px;
}

.index-collection-title {
  text-align: center;

  width: calc(100% - 8px);
  max-width: calc(100% - 8px);
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  padding: 0.15em 0.5em;

  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(16px);

  position: absolute;
  bottom: 4px;
  left: 4px;
}

/*
* --------------------------------------------------
* routes/collectioncarousel.$handle.jsx
* --------------------------------------------------
*/

.collection-panel {
  display: flex;
  width: 100%;
  height: auto;

  @media (max-width: 45em) {
    display: block;
    justify-content: center;
    align-items: center;
  }
}

.product-selector {
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.tab-list {
  text-align: center;
  width: 100%;
  margin-bottom: 0.5em;
}

.tab-panel {
  display: flex;
  width: 320px;
  max-width: 100%;
  overflow-x: scroll;
  height: 64px;

  margin-left: auto;
  margin-right: auto;

  @media (min-width: 45em) {
    width: 640px;
  }
}

.swatch-container {
  position: relative;
  margin-left: 4px;
  margin-right: 4px;
}

.swatch-image {
  width: 64px;
  min-width: 64px;
  height: 64px;
  min-height: 64px;
  cursor: pointer;
}

/* Product View */

.product-filter {
  padding: 3%;
  @media (min-width: 45em) {
    width: 50%;
  }
}

.product-image-panel-wrapper {
  aspect-ratio: 1/1;
  width: 100%;
  height: auto;
  max-height: 736px; /* max image size + (48px * 2) padding */

  padding: 3%;

  @media (min-width: 45em) {
    width: 50%;
  }
}

.product-image-panel {
  display: flex;

  border: 2px dashed rgb(0, 0, 0, 0);

  width: 100%;
  height: auto;
  aspect-ratio: 1/1;

  @media (min-width: 45em) {
    max-width: 640px;
    max-height: 640px;
  }
}

.product-image {
  aspect-ratio: 1/1;
  width: 100%;
  height: auto;

  @media (min-width: 45em) {
    max-width: 640px;
    max-height: 640px;
  }
}

.product-image-panel-empty {
  display: flex;

  border: 2px dashed darkgray;
  border-radius: 16px;

  width: 100%;
  height: auto;
  aspect-ratio: 1/1;

  justify-content: center;
  align-items: center;

  @media (min-width: 45em) {
    max-width: 640px;
    max-height: 640px;
  }
}
