:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 48px;
  --color-dark: #000;
  --color-light: #fff;
}

html,
body {
  height: 100%;
}

img {
  border-radius: 4px;
}

.wrapper {
  display: block;
}

.overlay {
  width: 100%;
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
  background: var(--color-light);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
}

aside header {
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
}

aside header h3 {
  margin: 0;
}

aside header .close {
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 20px;
}

aside header .close:hover {
  opacity: 1;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1rem;
}

aside p {
  margin: 0 0 0.25rem;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 10;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay:target {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

/* reveal aside */
.overlay:target aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
.header {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: center;
  background: rgb(210, 210, 210, 0.5);
  backdrop-filter: blur(8px);
  height: var(--header-height);
  top: 0;
  z-index: 1;
  box-shadow: 0 0 3px 3px rgb(210, 210, 210, 0.5);
  /* a box shadow by nature is "blur" in a sense, so I won't do the mental gymnastics required to make it truly blurry. */
}

.k2t_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.k2t_logo {
  width: 64px;
  height: 20px;

  @media (min-width: 45em) {
    width: 128px;
    height: 32px;
  }

  @media (prefers-color-scheme: dark) {
    -webkit-filter: invert(85%);
    filter: invert(85%);
  }
}

.header-menu-mobile-toggle {
  @media (min-width: 45em) {
    display: none;
  }
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.header-menu-desktop {
  display: flex;
  grid-gap: 1rem;
  margin-left: 3rem;

  @media (max-width: 45em) {
    display: none;
    grid-gap: 1rem;
  }
}

.header-menu-item {
  cursor: pointer;
}

.cart-button {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0.75em;
}

.cart-button svg {
  width: 1.75em;
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
}

.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  background: white;
  border-top: 1px solid var(--color-dark);
  bottom: 0;
  padding-top: 0.75rem;
  position: absolute;
  width: calc(var(--aside-width) - 40px);
}

.cart-line-quantiy {
  display: flex;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
}

/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;

  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.recommended-product img {
  height: auto;
}

.collection-tile-wrapper {
  display: flex;
  position: relative;
  width: 50%;


  @media (min-width: 45em) {
    width: 256px;
  }
}

.collection-tile {
  padding: 0.3em;
}

.collection-tile-image {
  width: 100%;
  height: 100%;
}

.index-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 3em;
}

.index {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.index-header {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.index-collection-title {
  display: flex;
  padding-top: 0.15em;
  padding-bottom: 0.15em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;

  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.product-item img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: grid;

  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}

.product h1 {
  margin-top: 0;
}

.product-images {
  display: grid;
  grid-gap: 1rem;
}

.product-image img {
  height: 100%;
  width: auto;
}

.product-main {}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item {
  padding: 0.25rem 0.5rem;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/
.account-profile-marketing {
  display: flex;
  align-items: center;
}

.account-logout {
  display: inline-block;
}

/*
* --------------------------------------------------
* routes/collectioncarousel.$handle.jsx
* --------------------------------------------------
*/

.collectionPanel {
  display: flex;
  width: 100%;
  height: 100%;

  @media (max-width: 45em) {
    display: block;
    justify-content: center;
    align-items: center;
  }
}

.collectionTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.productSelector {
  justify-content: center;
  align-items: center;
}

.collectionDescription {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabList {
  display: flex;
  padding-bottom: 1em;
}

.tab {
  width: 4em;
}

.tab-selected {
  background-color: rgb(25, 25, 25);
}

.tabPanel {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  overflow-y: visible;
  min-height: 64px;

  @media (min-width: 45em) {
    min-height: 96px;
  }
}

.swatchContainer {
  display: block;
  height: 100%;
  min-height: 100%;

  justify-content: center;
  align-items: center;
}

.noItemsMessage {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 14pt;
  color: rgb(200, 85, 100);
}

.swatchImage {
  display: block;
  width: 64px;
  min-width: 64px;
  height: 64px;
  min-height: 64px;
  cursor: pointer;

  @media (min-width: 45em) {
    width: 96px;
    min-width: 96px;
    height: 96px;
    min-width: 96px;
  }
}

.productImagePanel {
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;

  padding: 8px;

  @media (min-width: 45em) {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    height: 100%;
  }
}

/* Product View */

.productFilter {
  display: block;

  padding: 0.3em;

  @media (min-width: 45em) {
    padding-left: 3em;
    width: 50%;
    min-width: 50%;
    max-width: 50%;
  }
}

.productImageEmptyContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.productImageEmpty {
  display: flex;
  border: 2px dashed darkgray;
  border-radius: 16px;
  aspect-ratio: 1/1;
  width: 75%;
  justify-content: center;
  align-items: center;
}

.productImageContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.productImage {
  display: flex;
  position: relative;
  aspect-ratio: 1/1;
  width: 75%;
  justify-content: center;
  align-items: center;
}

.goober_image_this_is_test {
  border-radius: 96px;
}

.productImageSifterLeft {
  position: absolute;
  left: 0px;
  top: 50%;
  background: transparent;
  border: none !important;
  cursor: pointer;
}

.productImageSifterRight {
  position: absolute;
  right: 0px;
  top: 50%;
  background: transparent;
  border: none !important;
  cursor: pointer;
}

.cart-count {
  display: inline;
}

/* DARK MODE */

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(37, 44, 58);
    color: rgb(225, 225, 225);
  }

  .header {
    background-color: rgb(25, 30, 40, 0.5);
    box-shadow: 0 0 3px 3px rgb(25, 30, 40, 0.75);
    /* a box shadow by nature is "blur" in a sense, so I won't do the mental gymnastics required to make it truly blurry. */
  }

  svg {
    -webkit-filter: invert(90%);
    filter: invert(90%);
  }

  .cart-count,
  .close,
  .collection-tile-wrapper a {
    color: rgb(225, 225, 225);
  }

  aside {
    background-color: rgb(25, 30, 40);
    color: rgb(225, 225, 225);
  }

  .cart-details,
  .cart-main,
  .continue-shopping-link-text {
    background-color: rgb(25, 30, 40);
    color: rgb(225, 225, 225);
  }

  aside header {
    border-bottom: 1px solid rgb(150, 150, 150);
  }
}