@font-face {
  font-family: 'Enrique';
  src: url('../../public/Enrique.ttf');
}

:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 48px;
  --color-dark: #000;
  --color-light: #fff;
  --animation-btn: 0;
}

html,
body {
  height: 100%;
  font-family: 'Enrique';
}

.btn {
  min-height: unset;
}

a:hover {
  text-decoration: none;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 64px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

img {
  border-radius: 4px;
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(16px);
}

.k2t-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.k2t-logo {
  width: 128px;
  height: 32px;
}

.cart-button {
  display: flex;
  position: relative;
  align-items: end;
  margin-left: auto;

  width: 32px;
  height: 32px;
}

.cart-button svg {
  width: 1.75em;
  height: 1.75em;
}

.cart-count {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10pt;

  justify-content: center;
  align-items: center;

  height: 16px;
  width: 16px;

  background-color: rgb(225, 225, 225);
  border-radius: 16px;
}

.tabs {
  overflow-x: hidden;
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/

.index-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 8px;
  margin-bottom: 8px;

  @media (max-width: 45em) {
    padding: 8px;
  }
}

.collection-tile-wrapper {
  display: flex;

  width: 50%;

  @media (min-width: 45em) {
    width: 256px;
  }
}

.collection-tile {
  display: flex;
  position: relative;
  padding: 4px;
}

.index-collection-title {
  text-align: center;

  width: calc(100% - 8px);
  max-width: calc(100% - 8px);
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  padding: 0.15em 0.5em;

  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);

  position: absolute;
  bottom: 4px;
  left: 4px;
}

/*
* --------------------------------------------------
* routes/collection.$handle.jsx
* --------------------------------------------------
*/

.collection-panel {
  display: flex;
  width: 100%;
  height: auto;
  max-height: 100%;

  @media (max-width: 45em) {
    display: block;
    justify-content: center;
    align-items: center;
  }
}

.product-selector {
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.tab-list {
  text-align: center;
  width: 100%;
  margin-bottom: 0.5em;
}

.swatch-panel {
  display: flex;
  width: 100%;
  min-height: 48px;
  overflow-x: scroll;

  align-items: center;

  margin-left: auto;
  margin-right: auto;

  -ms-overflow-style: none;
  scrollbar-width: none;

  @media (min-width: 45em) {
    flex-wrap: wrap;
    max-height: calc(100% - 48px);
    overflow-y: scroll;
    -ms-overflow-style: initial;
    scrollbar-width: initial;
  }
}

.swatch-panel::-webkit-scrollbar {
  display: none;

  @media (min-width: 45em) {
    display: initial;
  }
}

.swatch-unavailable {
  filter: grayscale(100);
}

.soldout-strikethrough {
  position: absolute;
  top: 0;
  left: 0;

  cursor: pointer;

  aspect-ratio: 1/1;
  width: 100%;
  height: auto;
  opacity: 50%;
}

.swatch-container {
  aspect-ratio: 1/1;
  width: calc(22.5% - 4px);
  min-width: 48px;
  margin-left: 2px;
  margin-right: 2px;
  height: auto;

  @media (min-width: 45em) {
    width: calc(calc(100% / 6) - 4px);
  }
}

.swatch-image {
  aspect-ratio: 1/1;
  border:rgba(0, 0, 0, 0) 1px solid;
  cursor: pointer;
}

.highlighted-swatch-image {
  border:rgb(60, 120, 210) 1px solid;
}

/* Product View */

.product-main {
  @media (min-width: 45em) {
    display: flex;
    flex-direction: column;
    min-height: calc(40% - 12px);
    height: calc(40% - 12px);
    width: auto;
    overflow-y: scroll;
  }
}

.product-filter {
  padding: 24px;
  @media (min-width: 45em) {
    width: 50%;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}

.product-filter > * {
  @media (min-width: 45em) {
    width: 100%;
    max-width: 720px;
  }
}

.product-image-panel-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;

  padding: 24px;

  @media (min-width: 45em) {
    width: 50%;
    max-height: 50%;
  }
}

.form-width-fixer-fuck-you-shopify > form {
  width: 100%;
  max-width: 100%;
}

.product-image-panel {
  display: flex;

  width: 100%;
  height: auto;
  aspect-ratio: 1/1;

  margin-left: auto;
  margin-right: auto;

  @media (min-width: 45em) {
    height: auto;
    max-height: calc(round(down, 60%, 1px) - 12px);
    width: auto;
  }
}

.product-image-dot-panel {
  display: flex;
  height: 12px;
  min-height: 12px;
  justify-content: center;
}

.product-image {
  aspect-ratio: 1/1;
  width: round(down, 100%, 1px);
  height: auto;
}
