@import "tailwindcss";
@plugin "daisyui" {
  themes: wireframe --default;
}

@plugin "tailwind-scrollbar-hide";

html,
body {
  height: 100%;
}

.btn {
  min-height: unset;
}

a:hover {
  text-decoration: none;
}

.crossbrowser-product-image-constrictor {
  @media (width >= 48rem) {
    max-width: 472px;
  }
}