@import "tailwindcss";
@plugin "daisyui" {
  themes: wireframe --default;
}

@plugin "tailwind-scrollbar-hide";

html,
body {
  height: 100%;
}

.btn {
  min-height: unset;
}

a:hover {
  text-decoration: none;
}
